/*Add this in so that older browsers know how to display newer HTML5 elements*/
header, nav, main, footer, aside {display: block;}
*{box-sizing: border-box;}

body {margin: 0;
	 background-color: #ccdcc3;
}
#container {color: #006600;
			font-family: Verdana, Arial, sans-serif;
}
header {  background-color: #dde8d8;
          background-image: url(showybg.jpg);
          background-position: bottom;
          background-repeat: repeat-x;
          height: 120px;
          color: #60864d;
          text-align: right;
          padding: 0 20px;
          border-bottom: 2px solid #000000;
}
nav {float: left;
	width: 150px;
    background-color: #eeeeee;
}
aside {float: right;
	 width: 200px;

}
main {padding: 1px 10px 20px 10px;
	background-color: #ffffff;
	color: #006600;
	overflow: auto;
}
footer {font-size: .70em;
        text-align: center;
        color: #006600;
        padding-top: 10px;
}
h1 {margin-top: 0;
	font-size: 3em;
	text-align: left;
	text-shadow: 2px 2px 2px #000000;
}
header a{font-size: 0.80em;}
header a:link, header a:visited{color: #ffffff;}
header a:focus, header a:hover {color: #eeeeee;}

nav ul {margin-top: 20px;
        list-style-type: none;
}
nav a {text-decoration: none;
	 font-size: 1.2em;
}
nav a:link{color:#527141;}
nav a:visited{color:#2c3e23;}
nav a:focus, nav a:hover{color: #a4c195;}
nav a:active{color: #000000;}

nav img {margin: 30px;}
main p {margin: 20px;
}
main h2, main h3 {color: #73a05c;
				background-color: #ffffff;
}
.floatright {margin: 10px;
			float: right;
}
aside h3 {padding-bottom: 2px;
		border-bottom: 1px solid #000000;
		margin: 10px;
		font-size: 0.90em;
		color: #73a05c;
}
.news {font-size: 0.80em;
	   margin: 10px;
}
